<h1>Detalle de Personaje</h1>
<div class="characters">
    <div>
      <div class="character">
         <h3>{{character.name}}</h3>
         <img [src]="character.image" alt="imagen de {{character.name}}">
      </div>
    </div>
    <div>
      <div class="character">
         <p>Status: {{character.status}}</p>
         <p>Specie: {{character.species}}</p>
         <p>Type: {{character.type}}</p>
         <p>Gender: {{character.gender}}</p>
         <p>Origin: {{character.origin.name}}</p>
         <p>Location: {{character.location.name}}</p>
      </div>
    </div>

</div>

